// Begin of Design
$primary-dark: #000;
$primary-light:#fff;
$primary-blue: rgb(0, 110, 255);
$primary-pink: rgb(255, 0, 149);
$primary-yellow: rgb(255, 238, 0);
$primary-gray: rgb(163, 163, 163);
$primary-orange: rgb(255, 123, 0);
$primary-red: red;

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
}
body{
    background-color: $primary-dark;
    color: $primary-light;
    width: auto;
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'poppins';
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $primary-light;
}

// Navigation
.navigation-header{
    justify-items: center;
}
.navigation-left{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    gap: 60px;
    place-items: center;
}


// logo
.navigation-logo-container{
    width: fit-content;
    height: fit-content;
}
.navigation-logo-container-link{
    text-decoration: none;
}
.navigation-logo-container-link-h4{
    background: linear-gradient(to right, $primary-orange,$primary-pink);
    -webkit-background-clip: text;
    color: transparent;
    padding: 0;
    font-size: 30px;
    margin: 0;
}
#txt-white{
    color: $primary-light;
    font-size: 30px;
}
// list
.navigation-left-list-container{
    width: fit-content;
    height: fit-content;

}
.navigation-left-ul{
    display: flex;
    gap: 30px;
    place-items: center;;
}
.navigation-left-ul-li-anchor{
    text-decoration: none;
}
.navigation-left-ul-li-anchor-h4{
    font-weight: 500;
    transition: all 0.15s ease-in-out;
    font-size: 18px;
}
.navigation-left-ul-li-anchor-h4:hover{
    transition: all 0.15s ease-in-out;
    background: linear-gradient(to right, $primary-orange,$primary-pink);
    -webkit-background-clip: text;
    color: transparent;
}

// Categories
.navigation-left-ul-li-container{
    width: fit-content;
    height: fit-content;
    place-items: center;
    position: relative;
    font-family: sans-serif;
}


.navigation-left-select-container{
    place-items: center;
    
}

.navigation-left-select-box{
     /* hidden by default */
    display: none;
    position: absolute;
    background: #000000;
    border: 1px solid $primary-gray;
    top: 60px;
    z-index: 99;
    padding: 10px;
    width: 200PX;
    gap: 20px;

}

.navigation-left-select-container-option-cat{
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap: 10px;
    place-items: center;
    
    
}
.navigation-left-select-container-option-cat:hover ,.navigation-left-select-container-option-cat:hover #DropDown-Icon{
    background: linear-gradient(to right, $primary-orange,$primary-pink);
    -webkit-background-clip: text;
    color: transparent;
}
#DropDown-Icon.rotate { 
    transform: rotate(180deg);
}
.navigation-left-select-container-option{
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
    transition: all 0.15s ease-in-out;
    
}
.navigation-left-select-container-option:hover{
    cursor: pointer;
    background: linear-gradient(to right, $primary-orange,$primary-pink);

}





// form
.navigation-left-search-container-form{
    width: fit-content;
    height: fit-content;
    place-items: center;
    gap: 10px;
}
.navigation-left-search-container-form-input{
    padding-top: 1.2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 250px;
    background-color: transparent;
    color: $primary-light;
    border: 1px solid $primary-light;
}
.navigation-left-search-container-form-input::placeholder{
    font-family: 'poppins';
    font-size: 16px;
}
.navigation-left-search-container-form-input-btn{
    background-color: $primary-light;
    font-family: 'poppins';
    font-size: 16px;
    border: none;
    gap: 10px;
    font-weight: 500;
    height: 47px;
    padding: 10px;
    place-items: center;
    width: 60px;
    color: $primary-dark;
}
.navigation-left-search-container-form-input-btn:hover{
    cursor: pointer;
}



// settings none
.fa-magnifying-glass,.fa-square-poll-vertical,.fa-bars{
    display: none;
}
.fa-magnifying-glass:hover,.fa-square-poll-vertical:hover,.fa-bars:hover,.fa-gear:hover{
    cursor: pointer;
    color: $primary-orange;
}
.navigation-left-settings-icon{
    display: flex;
    gap: 20px;
    font-size: 20px;
}


// Responsive
@media screen and (max-width:1200px) {
    // List of Nav
    .navigation-left-ul-li-anchor-h4{
        font-size: 15px;
    }

    // Cat
    .navigation-left-select-container-option-cat{
        font-size: 15px;
    }


    // searchform
    .navigation-left-search-container-form-input{
        padding-top: 1em;
        padding-bottom: 1em;
        width: 150px;
    }

    // cat inside
    .navigation-left-select-container-option{
        margin-top: 10px;
        font-size: 15px;
        padding: 5px;
    }
    .navigation-logo-container-link-h4,#txt-white{
        font-size: 16px;
    }
    // logo
    #logo{
        width: 150px;
    }
    .navigation-left{
        gap: 40px;
    }
}

// tablet
@media screen and (max-width:930px){
    // List of Nav
    .navigation-left-ul-li-anchor-h4{
        font-size: 13px;
    }

    // Cat
    .navigation-left-select-container-option-cat{
        font-size: 13px;
    }


    .navigation-logo-container-link-h4{
        font-size: 13px;
    }

    // searchform
    .navigation-left-search-container-form-input{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 100px;
    }
    .navigation-left-search-container-form-input::placeholder{
        font-size: 13px;
    }

    // cat inside
    .navigation-left-select-container-option{
        margin-top: 10px;
        font-size: 13px;
        padding: 5px;
    }

    // logo
    #logo{
        width: 120px;
    }
    .navigation-left{
        gap: 30px;
    }
}

// tablet official
@media screen and (max-width:768px){
    .navigation-left-list-container{
        display: none;
    }
    .navigation-left{
        justify-content: space-around;
    }
    .navigation-left-search-container-form-input{
        display: none;
    }
    .fa-magnifying-glass,.fa-square-poll-vertical,.fa-bars{
        display: contents;
    }
}