// Begin of Design
$primary-dark: #000;
$primary-light:#fff;
$primary-blue: rgb(0, 110, 255);
$primary-pink: rgb(255, 0, 149);
$primary-yellow: rgb(255, 238, 0);
$primary-gray: rgb(71, 71, 71);
$primary-orange: rgb(255, 123, 0);
$primary-dark-orange: rgb(255, 94, 0);
$primary-red: red;

@font-face {
    font-family: 'Optima';
    src: url(../Fonts/OPTIMA_B.TTF) format(TTF);
}

@font-face {
    font-family: 'Helvetica';
    src: url(../Fonts/Helvetica-Bold.ttf) format(TTF);
}

@font-face {
    font-family: 'Zapfino';
    src: url(../Fonts/Zapfino.ttf) format(ttf);
}
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
}

body{
    background-color: $primary-dark;
    color: $primary-light;
    width: auto;
    scroll-behavior: smooth;
    height: 100%;
    
    font-family: 'poppins';
}




ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $primary-light;
}



// Navigation
.navigation-header{
    justify-items: center;
    place-items: center;
}

.navigation-left{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    gap: 60px;
    place-items: center;
    
}

#navigation-header.blurred { 
    filter: blur(20px); 
}


// logo
.navigation-logo-container{
    width: fit-content;
    height: fit-content;
}

.navigation-logo-container-link{
    text-decoration: none;
}

.navigation-logo-container-link-h4{
    // background: linear-gradient(to right, $primary-orange,$primary-pink);
    // -webkit-background-clip: text;
    // color: transparent;
    margin-top: -7px;
    font-size: 30px;
    font-family: 'Helvetica';
}

#txt-white{
    color: $primary-light;
    font-size: 30px;
}






// list
.navigation-left-list-container{
    width: fit-content;
    height: fit-content;

}

.navigation-left-ul{
    display: flex;
    gap: 30px;
    place-items: center;
}

.navigation-left-ul-li-anchor{
    text-decoration: none;
}

.navigation-left-ul-li-anchor-h4{
    font-weight: 500;
    transition: all 0.15s ease-in-out;
    font-size: 18px;
}

.navigation-left-ul-li-anchor-h4:hover{
    transition: all 0.15s ease-in-out;
    color: $primary-blue;
}





// Categories
.navigation-left-ul-li-container{
    width: fit-content;
    height: fit-content;
    place-items: center;
    position: relative;
    font-family: sans-serif;
}


.navigation-left-select-container{
    place-items: center;
    
}

.navigation-left-select-box{
     /* hidden by default */
    display: none;
    position: absolute;
    background: #000000;
    border: 2px solid $primary-gray;
    top: 60px;
    z-index: 99;
    padding: 10px;
    width: 200PX;
    gap: 20px;
    border-radius: 5px;

}

.navigation-left-select-container-option-cat{
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap: 10px;
    place-items: center;
    transition: all 0.15s ease-in-out;
    
    
}
#DropDown-Icon.rotate { 
    transform: rotate(180deg);
}

.navigation-left-select-container-option-cat:hover{
    color: $primary-blue;
    transition: all 0.15s ease-in-out;
}

.navigation-left-select-container-option{
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
    transition: all 0.15s ease-in-out;
    
}

.navigation-left-select-container-option:hover{
    cursor: pointer;
    // background: linear-gradient(to right, $primary-blue,$primary-pink);
    background-color: $primary-blue;

}





// form
.navigation-left-search-container-form{
    width: fit-content;
    height: fit-content;
    place-items: center;
    gap: 10px;
}


.navigation-left-search-container-form-input{
    padding-top: 1.2em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    width: 250px;
    background-color: transparent;
    color: $primary-light;
    border: 1px solid $primary-light;
}

.navigation-left-search-container-form-input::placeholder{
    font-family: 'poppins';
    font-size: 16px;
    color: $primary-light;
}

.navigation-left-search-container-form-input-btn{
    background-color: $primary-light;
    font-family: 'poppins';
    font-size: 16px;
    border: none;
    gap: 10px;
    font-weight: 500;
    height: 47px;
    padding: 10px;
    place-items: center;
    width: 60px;
    color: $primary-dark;
}

.navigation-left-search-container-form-input-btn:hover{
    cursor: pointer;
}



// settings none
.fa-magnifying-glass,.fa-square-poll-vertical,.fa-bars{
    display: none;
}

.fa-magnifying-glass:hover,.fa-square-poll-vertical:hover,.fa-bars:hover,.fa-gear:hover{
    cursor: pointer;
    color: $primary-blue;
}

.navigation-left-settings-icon{
    display: flex;
    gap: 20px;
    font-size: 20px;
}








// Welcome
.section-welcome-box{
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: $primary-blue;
    place-items: center;
    margin-top: 10px;
}
#section-welcome-box-text{
    font-family: 'Helvetica';
    font-weight: 500;
    padding: 10px;
}
.welcome-anchor{
    text-decoration: underline 1px solid;
    text-underline-offset: 5px;
}








// Settings
.Settings{
    justify-items: center;
    place-items: center;
    display: none;
    
}
.Settings-box{
    position: absolute;
    border: 1px solid $primary-gray;
    background-color: $primary-dark;
    width: 600px;
    max-width: 100%;
    height: 300px;
    padding: 20px;
    justify-content: center;
    top: 30%;

}
#Settings-theme-title-dark.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s; /* remove delay when showing */
}
//Settings-color-theme

.Settings-color-theme-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-weight: 300;
    padding: 1em 0;
    place-items: center;
}
.Settings-color-theme-container-title{
    font-weight: 400;
}


.Settings-theme-title{
    padding: 1em 0;  
}
.Settings-theme-title-h4{
    font-weight: 500;
    display: flex;
}

//Settings-theme-title-dark-h4

.Settings-theme-title-dark-h4-select{
    display: flex;
    width: 55%;
    padding: 10px 20px;
    justify-content: space-between;
    border: 1px solid $primary-gray;
}


// settings-show
.settings-show{
    border: 1px solid $primary-gray;
    width: 55%;
    padding: 10px 20px;
}

// Settings-theme-title-dark-h4
.Settings-theme-title-dark-h4{
    margin: 10px 0;
    margin-inline-start: 0em;
    padding-inline-start: 20px;
    place-items: center;
    cursor: pointer;
}
.Settings-theme-title-dark-h4:hover{
    background-color: $primary-blue;
    cursor: pointer;
}
// xmark
#xmark:hover{
    cursor: pointer;
    color: $primary-blue;
}
// Responsive
@media screen and (max-width:1200px) {
    // List of Nav
    .navigation-left-ul-li-anchor-h4{
        font-size: 15px;
    }

    #section-welcome-box-text{
        font-size: 15px;
    }
    // Cat
    .navigation-left-select-container-option-cat{
        font-size: 15px;
    }


    // searchform
    .navigation-left-search-container-form-input{
        padding-top: 1em;
        padding-bottom: 1em;
        width: 150px;
    }

    // cat inside
    .navigation-left-select-container-option{
        margin-top: 10px;
        font-size: 15px;
        padding: 5px;
    }
    .navigation-logo-container-link-h4,#txt-white{
        font-size: 23px;
        margin-top: -2px;
    }

    .navigation-left{
        gap: 40px;
    }
    .navigation-left-select-box{
        width: 150PX;
    }
}

// tablet
@media screen and (max-width:930px){
    // List of Nav
    .navigation-left-ul-li-anchor-h4{
        font-size: 13px;
    }

    // Cat
    .navigation-left-select-container-option-cat{
        font-size: 13px;
    }


    .navigation-logo-container-link-h4{
        font-size: 23px;
        margin-top: -3px;
        
    }

    // searchform
    .navigation-left-search-container-form-input{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 100px;
    }
    .navigation-left-search-container-form-input::placeholder{
        font-size: 13px;
    }

    // cat inside
    .navigation-left-select-container-option{
        margin-top: 10px;
        font-size: 13px;
        padding: 5px;
    }

    // logo
    .navigation-left{
        gap: 30px;
    }
}

// tablet official
@media screen and (max-width:768px){
    .navigation-left-ul{
        display: none;
    }
    .navigation-left{
        justify-content: space-around;
    }
    .navigation-left-search-container-form-input{
        display: none;
    }
    .fa-magnifying-glass,.fa-square-poll-vertical,.fa-bars{
        display: contents;
    }
    #section-welcome-box-text{
        font-size: 13px;
    }
}